@use "sass:color";

$font-family: 'Nunito', sans-serif;
$font-family2:'Underdog', sans-serif;
$font-family3: 'Leckerli One', cursive;
$font-color: #d6d6e4;
$font-color2: #202026;

.body{
    background-color: rgb(249, 140, 140);
}

.h1{
    font-family:$font-family3;
    text-align:center;
    font-size: 3.3rem;
    color:$font-color;
}

.h2{
    font-family: $font-family;
    font-size: 3rem;
    text-align: center;
    color: $font-color2;
    font-weight: bold;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.contact{
    color:$font-color;
    text-decoration: none;
    font-size: 30px;
    padding-right: 3vw;
}

lista-navegador__item {
        display:inline-block;
        padding: 1vw;
    }
